<body class="allUsers">


    <div style="margin: 0 auto 80px auto">

        <div class="drinkPrep" style="background-color: #162228;width: 90%; padding: 5px 10px;">
            <h2 style="margin-top: 0;">User Profiles</h2>
        </div>
        
        <div class="usersDisplay">
        
            <% users.forEach(u => { %>
                <div class="userCard">
                    <div class="usersInfo">
                        <div style="text-shadow: 0px 0px 5px black">
                            <h5 style="margin: 5px 0; font-size: 18px;"><i class="material-icons left" style="font-size: 20px; margin: 0 2px 0 20px;">local_bar</i><%= u.username %></h5>
                            <p style="margin: 0 0 10px 0;"><%= u.city %></p>
                            <a href="/profile/guest/<%=u.id%>">
                                <button class="btn btn-small cyan darken-3" type="submit">
                                    Profile <i class="material-icons right">person</i>
                                </button>
                            </a>
                        </div>
                        <img class="adminpic" style="height:100px; width: 100px; margin: 0 auto 0 0; box-shadow: 0 0 10px black;" src="<%= u.pic %>" alt="profile pic">
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
</body>










</div>