<footer class="page-footer blue-grey darken-4">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <p class="grey-text text-lighten-4">Made possible by the CocktailDB API.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <ul>
            <% if (currentUser) { %>
              <li><a class="grey-text text-lighten-3" href="/auth/logout">Logout</a></li>
              <form method="POST" action="/profile/user?_method=DELETE">
                <li><button type="submit" class="btn btn-small red">Delete Account</button></li>
              </form>
            <% } else { %>
              <li><a class="grey-text text-lighten-3" href="/auth/login">Login</a></li>
              <li><a class="grey-text text-lighten-3" href="/auth/signup">Sign Up</a></li>
            <% } %>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2020 Copyright Adam Honore
      </div>
    </div>
  </footer>