<div class="drinkPrep" style="background-color: #162228;width: 90%; padding: 5px 10px;margin-bottom: 20px;">
    <h2 style="margin-top: 0;">All Ingredients</h2>
</div>

<div class="ingContainer">
    <div class="ingredientList">
        <% for (let i = 0; i < ingredient.length; i++) { %>
            <div style="margin: 0 0 20px 0">
                <div>
                    <div>
                        <a href="/drinks/ingredientInfo?i=<%=ingredient[i].strIngredient1%>"><img class="catPic" src="https://www.thecocktaildb.com/images/ingredients/<%=ingredient[i].strIngredient1%>-Medium.png" alt="Ingredient Image"></a>
                    </div>
                    <div>
                        <h6><%= ingredient[i].strIngredient1  %></h6>
                    </div>
                </div>
            </div>
        <% } %>
    </div>
</div>