
    <% if (queryWord == 'Milk / Float / Shake') { queryWord = 'Floats and Shakes' } %>
    <% if (queryWord == 'Other/Unknown') { queryWord = 'Novelty Drinks' } %>
    <% if (queryWord == 'Coffee / Tea') { queryWord = 'Coffee' } %>
    <% if (queryWord == 'Punch / Party Drink') { queryWord = 'Party Drinks' } %>
    <% if (queryWord == 'Soft Drink / Soda') { queryWord = 'Soft Drinks' } %>
    <% if (queryWord == 'Cocktail') { queryWord = 'Classic Cocktails' } %>
    <% if (queryWord == 'Ordinary Drink') { queryWord = 'Standard Cocktails' } %>
    <% if (queryWord == 'Shot') { queryWord = 'Shots' } %>
    <% if (queryWord == 'Alcoholic') { queryWord = 'Alcoholic Drinks' } %>
    <% if (queryWord == 'Non_Alcoholic') { queryWord = 'Non-Alcoholic Drinks' } %>
    <h1><%= queryWord %></h1>

<div class="catContainer">
    <div class="drinkCats">
        <% for (let i = 0; i < drink.length; i++) { %>
            <div class="catBox">
                <div class="catTitle">
                    <div>
                        <a href="/drinks/info?i=<%= drink[i].idDrink %>"><img class="catPic" src="<%=drink[i].strDrinkThumb%>" alt="Drink Image"></a>
                    </div>
                    <div>
                        <h5 style="font-size: 20px;"><%= drink[i].strDrink  %></h5>
                    </div>
                </div>
            </div>
        <% } %>
    </div>
</div>