<div class="drinkPrep" style="width: 80%; border-radius: 0 0 10px 10px; background-color: #162228; padding: 20px;">

    <h5 style="margin-top: 0; margin-bottom: 40px;">Oops, that's a bad search! No results found.</h5>
    <a href="/">
        <button class="btn waves-effect cyan darken-3">Back to Search
            <i class="material-icons right">replay</i>
        </button>
    </a>
</div>
