html, body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: bisque;
}

h1 {
    color: #00004d;
}

nav, footer {
    background-color: #5d4954;
    color: #ddd;
    padding: 20px 0;
}

nav ul {
    list-style-type: none;
}

nav li {
    display: inline;
    margin: 0px 20px 0px 20px;
}

nav a {
    text-decoration: none;
    color: #ddd;
}

nav a:hover {
    color: bisque;
    text-decoration: underline;
}