html, body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-image: linear-gradient(rgb(248, 190, 255), #ffa52e);
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.profpic {
    height: 300px;
    width: 300px;
}